# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Website/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
Website/coverage
Website/test-results/

# next.js
Website/.next/
Website/out/

# production
Website/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
Website/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
